# SPDX-FileCopyrightText: 2022 The meson-python developers
#
# SPDX-License-Identifier: MIT

name: docs

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main
      - release-*
    paths:
      - docs/**
      - CHANGELOG.rst
      - README.md
  workflow_dispatch:
    inputs:
      tag:
        required: true

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.tag || github.ref }}
      - run: python -m pip install .[docs]
      - run: python -m sphinx -W docs/ build/docs/
      - uses: actions/upload-pages-artifact@v3
        with:
          path: build/docs/

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.ref_type == 'tag' }}
    steps:
      - uses: actions/deploy-pages@v4
